@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@400;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Kaushan+Script&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;600;700&display=swap');


* {
   box-sizing: border-box;
   padding: 0;
   margin: 0;
}

.main {
   width: 100%;
   height: 100vh;
   background: url(./img/Rectangle\ 2.png) no-repeat;
   background-size: cover;
   position: relative;
}

.main::before {
   content: '';
   position: absolute;
   background: linear-gradient(to top, rgba(237, 215, 137, 0.9), rgba(233, 130, 131, 0.9));
   height: 100%;
   width: 100%;
   z-index: 1;
}

.header {
   position: absolute;
   z-index: 10;
   display: flex;
   width: 100%;
   padding: 42px 170px 0;
}

.navigation {
   margin-left: auto;
}

.navigation ul li {
   font-family: 'Raleway', sans-serif;
   font-size: 14px;
   font-weight: 600;
   color: #fff;
   text-transform: uppercase;
}

.navigation ul {
   display: flex;
   gap: 75px;
   list-style: none;
}

.navigation ul li:first-child {
   color: rgba(244, 191, 135, 1);
   border-bottom: 1px solid rgba(244, 191, 135, 1);
   width: 83px;
   text-align: center;
}

.main-wrapper {
   display: flex;
   position: absolute;
   z-index: 15;
   width: 100%;
   /* height: 100vh; */
   flex-direction: column;
   align-items: center;
   margin-top: 177px;
}

.main-wrapper-title1-style {
   font-family: 'Kaushan Script', sans-serif;
   font-size: 64px;
   font-weight: 400;
   /* line-height: 92px; */
   color: rgba(255, 255, 255, 1);
   text-align: center;
}

.main-wrapper-title2 {
   margin-bottom: 44px;
}

.main-wrapper-title2-style {
   font-family: 'Montserrat', sans-serif;
   font-size: 144px;
   font-weight: 700;
   /* line-height: 175px; */
   color: rgba(255, 255, 255, 1);
   text-align: center;
   text-transform: uppercase;
   margin-bottom: 44px;
}

.main-line {
   width: 177px;
   height: 1px;
   border-bottom: 4px solid #fff;
   margin-bottom: 74px;
}

.main-button-style {
   height: 77px;
   width: 369px;
   font-family: 'Raleway', sans-serif;
   font-size: 24px;
   font-weight: 700;
   color: #fff;
   border: none;
   text-transform: uppercase;
   cursor: pointer;
   outline: 4px solid #fff;
   background-color: transparent;
   margin-bottom: 116px;
}

.line-wrapper {
   display: flex;
   position: absolute;
   z-index: 15;
   width: 100%;
   /* height: 100vh; */
   /* align-items: center; */
   margin-top: 900px;
   justify-content: center;
   gap: 30px
}

.text-flex {
   display: flex;
   
}

.line-first {
   width: 270px;
   height: 1px;
   border-bottom: 4px solid #FFFFFF;
   position: relative;
}

.line-first::before {
   position: absolute;
   content: "";
   width: 70px;
   height: 1px;
   border-bottom: 4px solid #F38281;
   z-index: 5;
   bottom: -4px;
}

.line-style{
   width: 270px;
   height: 1px;
   border-bottom: 4px solid rgba(249, 239, 207, 1);
}

.line1-number-style {
   font-family: 'Raleway', sans-serif;
   font-size: 18px;
   font-weight: 500;
   color: rgba(255, 255, 255, 1);
   text-align: left;
}

.modul1 {
   flex-direction: column;
}

.line1-number {
   align-items: center;
}

.line1-text {
   align-items: center;
}

.line1-text {
   align-self: flex-end;
}

.line1-number-style {
   margin-right: 5px;
   font-family: 'Raleway', sans-serif;
   font-size: 36px;
   font-weight: 700;
   line-height: 42px;
   text-align: left;
   color: rgba(255, 255, 255, 1);
}

.line1-text-stye {
   font-family: 'Raleway', sans-serif;
   font-size: 18px;
   font-weight: 500;
   /* line-height: 21px; */
   text-align: left;
   color: #F9EFCF;
   text-transform: uppercase;
   margin-bottom: 5px;
}

.number-style {
   margin-right: 5px;
   font-family: 'Raleway', sans-serif;
   font-size: 36px;
   font-weight: 700;
   line-height: 42px;
   text-align: left;
   color: rgba(249, 239, 207, 1);
}

.text-style {
   font-family: 'Raleway', sans-serif;
   font-size: 18px;
   font-weight: 500;
   /* line-height: 21px; */
   text-align: left;
   color: #F9EFCF;
   text-transform: uppercase;
   margin-top: 15px;
}

.about-us {
   width: 100%;
   height: 100vh;
}

.about-us-wrapper {
   display: flex;
   flex-direction: column;
   align-items: center;
}   

.about-us-title1 {
   margin-top: 42px;
}

.about-us-title1 p {
   font-family: 'Kaushan Script', sans-serif;
   font-size: 30px;
   font-weight: 400;
   line-height: 42px;
   color: rgba(45, 48, 51, 1);
   line-height: 43px;
   margin-bottom: 15px;
}

.about-us-title2 h2 {
   font-family: 'Raleway', sans-serif;
   font-size: 36px;
   font-weight: 900;
   color: rgba(45, 48, 51, 1);
   line-height: 42px;
   text-transform: uppercase;
   margin-bottom: 24px;
}

.about-us-line {
   width: 170px;
   height: 1px;
   border-bottom: 4px solid rgba(243, 130, 129, 1);
   margin-bottom: 35px;
}

.about-us-text p {
   font-family: 'Raleway', sans-serif;
   font-size: 18px;
   font-weight: 400;
   color: rgba(0, 0, 0, 1);
   line-height: 21px;
   margin-bottom: 60px;
   text-align: center;
}

.about-us-img-wrapper {
   display: flex;
   justify-content: center;
   gap: 30px;
}

.image1 {
   width: 370px;
   height: 338px;
   background-color: rgba(149, 225, 211, 1);
   position: relative;
}

.image1::before {
   height: 338px;
   width: 370px;
   bottom: 16px;
   right: 16px;
   display: flex;
   align-items: center;
   justify-content: center;
   position: absolute;
   content: "super team";
   font-family: 'Raleway', sans-serif;
   font-size: 24px;
   font-weight: 500;
   text-align: center;
   color: #fff;
   text-transform: uppercase;
   background: linear-gradient(rgba(233, 130, 131, 0.9),rgba(237, 215, 137, 0.9));
   z-index: 2;
}

.image1-add {
   position: absolute;
   z-index: 2;
   left: 150px;
   top: 90px;
}

.about-us-panel-wrapper {
   display: flex;
   width: 100%;
   height: 250px;
   justify-content: center;
   background-color: rgba(149, 225, 211, 1);
   margin-top: 108px;
}

.main-panel {
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;
   width: 234px;
   border-right: 1px solid #fff;
}

.extreme-panel-start {
   width: 170px;
   border-right: 1px solid #fff;
}

.main-panel-number p {
   font-family: 'Raleway', sans-serif;
   font-size: 64px;
   font-weight: 700;
   text-align: center;
   color: #fff;
   line-height: 75px;
}

.main-panel-text p {
   font-family: 'Raleway', sans-serif;
   font-size: 24px;
   font-weight: 400;
   text-align: center;
   color: #fff;
   line-height: 28px;
}

.extreme-panel-end {
   width: 170px;
}